@import '_normalize.styl'
@import '_typography.styl'
@import '_animations.styl'

body
    background silver

.pseudo-phone-main
    width 360px

.pseudo-phone-list
    background offwhite
    width 360px
    min-height 546px
    max-height 546px
    overflow scroll

div.outer
{
    position relative
}
div.inner
{
    position absolute
}

.floating-button-bottom-right {
    position absolute
    top 450px
    left 285px
}

.bottom-nav {
    position absolute
    top 490px
    width 360px
}