@import '_normalize.styl'
@import '_typography.styl'
@import '_animations.styl'

body
    background silver

.pseudo-phone-main
    width 360px

.pseudo-phone-list
    background offwhite
    width 360px
    min-height 546px
    max-height 546px
    overflow-x hidden
    overflow-y scroll
    
.pseudo-phone-list-no-scroll
    background offwhite
    width 360px
    min-height 546px
    max-height 546px
    overflow hidden

div.outer
{
    position relative
}

div.inner
{
    position absolute
}

.sessionList
{
    position absolute
    top 120px
    left 0px
    width 360px
    max-height 386px
    overflow scroll
}

.floating-button-bottom-right {
    position absolute
    top 450px
    left 285px
}

.bottom-nav {
    position absolute
    top 490px
    width 360px
}